@import "https://netology-code.github.io/html-homeworks/css/resourses/normalize.css";

/* COMMON */
* {
    box-sizing: border-box;
}

body {
    padding: 0;
}

.center {
    width: 1168px;
    margin: 0 auto;
    height: 100%;
}


/* HEADER SECTION */
.header-section {
    background-image: url(https://image.ibb.co/dKtZ8J/banner.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 758px;
}

.menu {
    position: relative;
    width: 100%;
}

.navmenu {
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    height: 100px;
}