/* RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* COMMON */
* {
    box-sizing: border-box;
}
body {
    padding: 0;
    color: #6d6e71;
    font-family: "Open Sans", sans-serif;
}
.center {
    position: relative;
    
    max-width: 1160px;
    margin: 0 auto;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
  

/* HEADER SECTION */

.header-top {
    background-color: #eceef4;
}

.header-top__buttons {
    /* display: inline-block; */
    float: left;
    padding: 15px 0;
}

.header-top-button {
    display: inline-block;
    padding: 5px;
    margin-right: 5px;
    border-radius: 4px;
    background-color: #fff;
}

.header-top-button__img {
    display: inline-block;
    width: 23px;
    height: 25px;

    vertical-align: middle;

    background-image: url(https://image.ibb.co/mSVS0J/top_level_icons.png);
    background-repeat: no-repeat;
}
.header-top-button__img--blog {
    background-position: 2px 0px;
}
.header-top-button__img--jobs {
    background-position: -20px 0px;
}
.header-top-button__img--support {
    background-position: -42px 0px;
}
.header-top-button__img--arabic {
    background-position: -64px 0px;
}
.header-top-button__title {
    display: inline-block;
    width: 100px;
    /* padding: 0 20px; */
    text-align: center;
    font-size: 13px;
    line-height: 27px;
    font-weight: bold;
    vertical-align: middle;
}


.header-top__social {
    float: right;
}
.header-top-social {
    display: inline-block;
    padding: 20px;
}
.header-top-social__img {
    width: 24px;
    height: 21px;

    background-image: url(https://image.ibb.co/bQt2Zd/top_header_social.png);
    background-repeat: no-repeat;
}
.header-top-social__img--fa {
    background-position: 2px 0px;
}
.header-top-social__img--twitter {
    background-position: 2px 0px;
}
.header-top-social__img--instagramm {
    background-position: 2px 0px;
}
.header-top-social__img--google {
    background-position: 2px 0px;
}



/* BANNER SECTION */

.banner {

}


/* CONTENT SECTION */

.content{

}


/* PROJECTS SECTION */

.projects {

}


/* FOOTER SECTION */

.footer {

}