/* RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* COMMON */
* {
    box-sizing: border-box;
}
body {
    padding: 0;
    font-family: "Open Sans", sans-serif;
}
.center {
    position: relative;
    
    max-width: 1160px;
    margin: 0 auto;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
  

/* HEADER SECTION */

.header-top {
    background-color: #eceef4;
}

.header-top__buttons {
    padding: 15px 0;
}


.header-top-button {
    float: left;
    margin-right: 5px;
    background-color: #fff;
}

.header-top-button__img {
    background-image: url(https://ibb.co/cCx70J);
    background-repeat: no-repeat;
}
.header-top-button__img--blog {
    background-position: 2px 2px;
}
.header-top-button__img--jobs {
    background-position: 2px 2px;
}
.header-top-button__img--support {
    background-position: 2px 2px;
}
.header-top-button__img--arabic {
    background-position: 2px 2px;
}
.header-top-button__title {

}


/* BANNER SECTION */

.banner {

}


/* CONTENT SECTION */

.content{

}


/* PROJECTS SECTION */

.projects {

}


/* FOOTER SECTION */

.footer {

}




.header {
    background-image: url(https://image.ibb.co/dKtZ8J/banner.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    padding: 11rem 0;
}

.header__navbar {
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    background-color: rgba(41,44,71, 0.5);
    z-index: 10000;
}
.header__navbar-content {
    padding: 2rem 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}
.header__logo {
    /* padding-top: 35px; */
}
.header__navigation {
    float: right;
}
.header__navigation li {
    display: inline-block;
    padding-left: 40px;

    color: #f0f0f0;
    opacity: 0.75;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;  
}

.header__title {
    padding: 150px 100px 0;

    text-align: center;
}
.header__title h1 {
    color: #fff;
    font-size: 65px;
    font-weight: 700;
    text-transform: uppercase;
}
.header__title p {
    padding-top: 15px;
    color: #fff;
    font-size: 22px;
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 80px;
}

.header__title button {
    display: inline-block;

    padding: 15px 40px;
    border: 0;

    background-color: #e84545;
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    border-radius: 2px;
    text-transform: uppercase;
}


.features {
    padding: 50px 0;
}
.feature {
    position: relative;

    display: inline-block;
    width: 33%;
    padding: 30px;
    vertical-align: top;

    font-size: 0;
    text-align: center;
}
.feature img{
    padding: 10px 0;
}
.feature h5{
    padding: 10px 0;
    
    font-size: 14px;
    color: #2d3033;
    text-transform: uppercase;
    font-weight: 700;
}
.feature p{
    padding: 10px 0;
    
    font-size: 14px;
    line-height: 22.4px;
    color: #6c7279;
}

/* WORKS */
.works {
    font-size: 0;
}
.work {
    position: relative;

    display: inline-block;
    width: 25%;
    border: 1px solid #fff;
}
.work img{
    width: 100%;
}
.work__project-name {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    text-align: center;
}
.work__project-name:hover {
    cursor: pointer;
    transition: all ease-in-out 0.2s;  
    background: rgba(232, 69, 69, 0.9);
}
.work__project-name h5 {
    margin-top: 80px;
    color: #fff;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
}
.work__project-name p {
    padding-top: 5px;
    color: #fff;
    font-size: 22px;
    font-weight: 300;
    line-height: 1.5;
}
.work__project-name p,
.work__project-name h5 {
    display: none;
}
.work__project-name:hover p,
.work__project-name:hover h5 {
    display: block;
}


/* FOOTER */
.footer{
    
}
.footer-top {
    padding: 1.5rem 0;
    background-color: #3a3e64;
    color: #fff;
    font-size: 0;
}
.footer-top__column {
    display: inline-block;
    width: 33.3%;
    height: 100%;
    padding: 35px;
    padding-top: 50px;

    vertical-align: middle;
    text-align: center;
}
.footer-top__header {
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
}
.footer-top__content {
    margin-top: 15px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    line-height: 22.4px;
}
.social i {
    width: 30px;
    border: 2px solid #fff;
    padding: 5px;

    text-align: center;
    color: #fff;
    border-radius: 4px;

    cursor: pointer;
}
.social i:not(:last-child) {
    margin-right: 10px;
}

.footer-bottom {
    padding: 1.5rem 0;
    
    font-size: 0;
    background-color: #313454;
}
.footer-bottom p{
    width: 100%;
    height: 100%;

    text-align: center;

    font-size: 14px;
    line-height: 22.4px;
    color: #6c7279;
}
.footer-bottom i{
    color: rgba(242, 69, 69, 1);
}
.footer-bottom span{
    color: #fff;
}